.RoadMap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 800px;
  height: 80vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
  background: white;
  color: black;
}

.RoadMap .RM-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[40];
      grid-template-columns: repeat(40, 1fr);
  -ms-grid-rows: (1fr)[20];
      grid-template-rows: repeat(20, 1fr);
  width: 1200px;
  height: 125px;
}

.RoadMap .RM-item .RM-title,
.RoadMap .RM-item .RM-text {
  -webkit-transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
  opacity: 0;
}

.RoadMap .RM-item .RM-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.RoadMap .RM-item .RM-text {
  font-weight: 100;
}

.RoadMap .RM-item .text-left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 22;
  -ms-grid-column: 4;
  -ms-grid-column-span: 14;
  grid-area: 1/4/23/18;
  text-align: right;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.RoadMap .RM-item .text-right {
  -ms-grid-row: 1;
  -ms-grid-row-span: 20;
  -ms-grid-column: 24;
  -ms-grid-column-span: 17;
  grid-area: 1/24/21/41;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.RoadMap .RM-item .title-left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  -ms-grid-column: 4;
  -ms-grid-column-span: 14;
  grid-area: 1/4/10/18;
  text-align: right;
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
}

.RoadMap .RM-item .title-right {
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  -ms-grid-column: 24;
  -ms-grid-column-span: 17;
  grid-area: 1/24/9/41;
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
}

.RoadMap .RM-checkpoint {
  z-index: 6;
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #ffde00;
  opacity: 0;
  -webkit-transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
}

.RoadMap .one {
  -webkit-transform: translateY(-240px);
          transform: translateY(-240px);
}

.RoadMap .two {
  -webkit-transform: translateY(-110px);
          transform: translateY(-110px);
}

.RoadMap .three {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.RoadMap .four {
  -webkit-transform: translateY(140px);
          transform: translateY(140px);
}

.RoadMap .RM-timeline {
  width: 5px;
  background: black;
  height: 0%;
  position: absolute;
  -webkit-transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
}

@media only screen and (max-width: 1300px) {
  .RoadMap .RM-item {
    width: 90%;
  }
  .RoadMap .RM-item .RM-text {
    width: 100%;
  }
  .RoadMap .RM-item .text-left {
    -ms-grid-row: 1;
    -ms-grid-row-span: 20;
    -ms-grid-column: 4;
    -ms-grid-column-span: 15;
    grid-area: 1/4/21/19;
  }
  .RoadMap .RM-item .text-right {
    -ms-grid-row: 1;
    -ms-grid-row-span: 20;
    -ms-grid-column: 23;
    -ms-grid-column-span: 15;
    grid-area: 1/23/21/38;
  }
  .RoadMap .RM-item .title-right {
    -ms-grid-row: 1;
    -ms-grid-row-span: 8;
    -ms-grid-column: 23;
    -ms-grid-column-span: 15;
    grid-area: 1/23/9/38;
  }
  .RoadMap .RM-item .title-left {
    -ms-grid-row: 1;
    -ms-grid-row-span: 9;
    -ms-grid-column: 7;
    -ms-grid-column-span: 12;
    grid-area: 1/7/10/19;
  }
}

@media only screen and (max-width: 1200px) {
  .RoadMap .RM-item {
    height: 160px;
  }
  .RoadMap .one {
    -webkit-transform: translateY(-305px);
            transform: translateY(-305px);
  }
  .RoadMap .two {
    -webkit-transform: translateY(-145px);
            transform: translateY(-145px);
  }
  .RoadMap .three {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  .RoadMap .four {
    -webkit-transform: translateY(175px);
            transform: translateY(175px);
  }
}

@media only screen and (max-width: 950px) {
  .RoadMap .RM-item .RM-title {
    font-size: 1.3rem;
  }
  .RoadMap .RM-item .RM-text {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 650px) {
  .RoadMap .RM-item .RM-title {
    font-size: 1.1rem;
  }
  .RoadMap .RM-item .RM-text {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 450px) {
  .RoadMap .one {
    -webkit-transform: translate(-1px, -350px);
            transform: translate(-1px, -350px);
  }
  .RoadMap .two {
    -webkit-transform: translate(-1px, -167px);
            transform: translate(-1px, -167px);
  }
  .RoadMap .three {
    -webkit-transform: translate(-1px, 11px);
            transform: translate(-1px, 11px);
  }
  .RoadMap .four {
    -webkit-transform: translate(-1px, 191px);
            transform: translate(-1px, 191px);
  }
  .RoadMap .RM-timeline {
    height: 95%;
  }
  .RoadMap .RM-item {
    width: 100%;
    height: 180px;
  }
  .RoadMap .RM-item .title-left,
  .RoadMap .RM-item .title-right {
    font-size: 1rem;
  }
  .RoadMap .RM-item .text-right {
    -ms-grid-row: 1;
    -ms-grid-row-span: 20;
    -ms-grid-column: 23;
    -ms-grid-column-span: 16;
    grid-area: 1/23/21/39;
  }
  .RoadMap .RM-item .text-right,
  .RoadMap .RM-item .text-left {
    font-size: 0.7rem;
    width: 100%;
  }
  .RoadMap .RM-item .text-left {
    -ms-grid-row: 1;
    -ms-grid-row-span: 22;
    -ms-grid-column: 3;
    -ms-grid-column-span: 15;
    grid-area: 1/3/23/18;
  }
}
/*# sourceMappingURL=RoadMap.css.map */