.Links {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 12;
  -ms-grid-column-span: 7;
  grid-area: 5/12/7/19;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 686px;
  min-width: 686px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.Links .dropdown {
  position: absolute;
  width: 200px;
  min-height: 120px;
  font-size: 100%;
  font-family: "Lato", sans-serif;
  height: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 10px;
  background: transparent;
  top: 100px;
  -webkit-box-shadow: 0 1px black inset, 0 1px 3px rgba(34, 25, 25, 0.4);
          box-shadow: 0 1px black inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  -webkit-transform: translate(28px, -40px);
          transform: translate(28px, -40px);
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  color: white;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  box-sizing: border-box;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 10;
  -webkit-animation: float-dropdown 3s ease-in-out infinite;
          animation: float-dropdown 3s ease-in-out infinite;
}

.Links .dropdown a {
  margin-left: 15px;
}

.Links a:hover {
  color: #ffde00;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@-webkit-keyframes float-dropdown {
  0% {
    -webkit-transform: translate(28px, -40px);
            transform: translate(28px, -40px);
  }
  50% {
    -webkit-transform: translate(28px, -42px);
            transform: translate(28px, -42px);
  }
  100% {
    -webkit-transform: translate(28px, -40px);
            transform: translate(28px, -40px);
  }
}

@keyframes float-dropdown {
  0% {
    -webkit-transform: translate(28px, -40px);
            transform: translate(28px, -40px);
  }
  50% {
    -webkit-transform: translate(28px, -42px);
            transform: translate(28px, -42px);
  }
  100% {
    -webkit-transform: translate(28px, -40px);
            transform: translate(28px, -40px);
  }
}

@media only screen and (max-width: 1600px) {
  .Links {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 10;
    -ms-grid-column-span: 9;
    grid-area: 5/10/7/19;
  }
}

@media only screen and (max-width: 1400px) {
  .Links {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-area: 5/9/7/13;
  }
}

@media only screen and (max-width: 1200px) {
  .Links {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 8;
    -ms-grid-column-span: 4;
    grid-area: 5/8/7/12;
  }
}

@media only screen and (max-width: 1100px) {
  .Links {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
    grid-area: 5/7/7/12;
  }
}

@media only screen and (max-width: 1000px) {
  .Links {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 6;
    -ms-grid-column-span: 6;
    grid-area: 5/6/7/12;
  }
}

@media only screen and (max-width: 950px) {
  .Links {
    display: none;
  }
}
/*# sourceMappingURL=Links.css.map */