.SS-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 120px;
}

.SS-group .SS-group-left {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.SS-group .SS-group-right,
.SS-group .SS-group-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8fr;
      grid-template-columns: 1fr 8fr;
  grid-gap: 5%;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.SS-group .SS-group-right .SS-icon,
.SS-group .SS-group-left .SS-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.SS-group .SS-group-right .SS-icon img,
.SS-group .SS-group-left .SS-icon img {
  height: 75px;
}

.SS-group .SS-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.SS-group .SS-text .SS-text-title {
  font-size: 2.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.SS-group .SS-text .SS-text-subtitle {
  font-size: 1.4rem;
  width: 80%;
  font-weight: 100;
}

@media only screen and (max-width: 1600px) {
  .SS-group .SS-text .SS-text-title {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 1400px) {
  .SS-group .SS-text .SS-text-subtitle {
    font-size: 1.2rem;
  }
  .SS-group .SS-text .SS-text-title {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 1200px) {
  .SS-group .SS-text .SS-text-subtitle {
    font-size: 1.2rem;
  }
  .SS-group .SS-text .SS-text-title {
    font-size: 1.6rem;
    width: 80%;
  }
}

@media only screen and (max-width: 950px) {
  .SS-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 200px;
    margin: 50px 0;
    width: 90%;
  }
  .SS-group .SS-group-left,
  .SS-group .SS-group-right {
    -ms-grid-columns: 3fr 6fr;
        grid-template-columns: 3fr 6fr;
    width: 90%;
  }
  .SS-group .SS-group-left .SS-icon,
  .SS-group .SS-group-right .SS-icon {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .SS-group .SS-group-left .SS-icon img,
  .SS-group .SS-group-right .SS-icon img {
    height: 130px;
  }
  .SS-group .SS-group-right .SS-text .SS-text-subtitle {
    font-size: 1.5rem;
  }
  .SS-group .SS-group-left {
    margin-bottom: 35px;
  }
  .SS-group .SS-group-left .SS-text .SS-text-title {
    font-size: 2.5rem;
    width: 100%;
  }
  .SS-group .SS-group-left .SS-text .SS-text-subtitle {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 650px) {
  .SS-group {
    margin: 25px 0;
  }
  .SS-group .SS-group-left,
  .SS-group .SS-group-right {
    -ms-grid-columns: 3fr 6fr;
        grid-template-columns: 3fr 6fr;
  }
  .SS-group .SS-group-left .SS-icon img,
  .SS-group .SS-group-right .SS-icon img {
    height: 100px;
  }
  .SS-group .SS-group-left .SS-text .SS-text-title,
  .SS-group .SS-group-right .SS-text .SS-text-title {
    font-size: 1.5rem;
  }
  .SS-group .SS-group-left .SS-text .SS-text-subtitle,
  .SS-group .SS-group-right .SS-text .SS-text-subtitle {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 450px) {
  .SS-group {
    min-height: 150px;
    width: 100%;
  }
  .SS-group .SS-group-left,
  .SS-group .SS-group-right {
    -ms-grid-columns: 2fr 6fr;
        grid-template-columns: 2fr 6fr;
    grid-gap: 5%;
  }
  .SS-group .SS-group-left .SS-icon img,
  .SS-group .SS-group-right .SS-icon img {
    height: 75px;
  }
  .SS-group .SS-group-left .SS-text .SS-text-title,
  .SS-group .SS-group-right .SS-text .SS-text-title {
    font-size: 1.8rem;
  }
  .SS-group .SS-group-left .SS-text .SS-text-subtitle,
  .SS-group .SS-group-right .SS-text .SS-text-subtitle {
    font-size: 1rem;
    width: 90%;
  }
}
/*# sourceMappingURL=SSGroup.css.map */