.Ressources {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  .Ressources-box {
    justify-content: center;
    display: flex;
    height: 70vh;
    align-items: center;
    .Ressources-box-item {
      width: 300px;
      .Ressources-box-item-title {
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #000000;
        padding: 10px 0;
        width: 71%;
        margin-top: 20px;
        font-size: 1.4rem;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
      }
    }
    img {
      height: 300px;
    }
  }

  @media only screen and (max-width: 950px) {
    min-height: 1500px;
    .Ressources-box {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .Ressources-box-item {
        width: 100%;
        margin-bottom: 75px;
        .Ressources-box-item-title {
          width: 100%;
        }
      }
    }
  }
}
