.OurSolution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Lato", sans-serif;
}

.OurSolution .OS-header {
  width: 100%;
  background-color: #202a43;
  height: 200px;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[40];
      grid-template-columns: repeat(40, 1fr);
  -ms-grid-rows: (1fr)[20];
      grid-template-rows: repeat(20, 1fr);
  z-index: 1;
}

.OurSolution .OS-header .OS-header-title {
  -ms-grid-row: 4;
  -ms-grid-row-span: 15;
  -ms-grid-column: 8;
  -ms-grid-column-span: 9;
  grid-area: 4/8/19/17;
  font-size: 3rem;
  font-weight: bold;
  text-align: end;
}

.OurSolution .OS-header .OS-header-text {
  -ms-grid-row: 4;
  -ms-grid-row-span: 10;
  -ms-grid-column: 24;
  -ms-grid-column-span: 8;
  grid-area: 4/24/14/32;
  font-weight: 300;
}

@media only screen and (max-width: 1600px) {
  .OurSolution .OS-header .OS-header-title {
    font-size: 2.6rem;
  }
  .OurSolution .OS-header .OS-header-text {
    -ms-grid-row: 4;
    -ms-grid-row-span: 10;
    -ms-grid-column: 24;
    -ms-grid-column-span: 13;
    grid-area: 4/24/14/37;
  }
}

@media only screen and (max-width: 1400px) {
  .OurSolution .OS-header .OS-header-title {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 1100px) {
  .OurSolution .OS-header .OS-header-title {
    font-size: 2rem;
  }
  .OurSolution .OS-header .OS-header-text {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1000px) {
  .OurSolution .OS-header .OS-header-title {
    -ms-grid-row: 4;
    -ms-grid-row-span: 15;
    -ms-grid-column: 8;
    -ms-grid-column-span: 11;
    grid-area: 4/8/19/19;
  }
  .OurSolution .OS-header .OS-header-text {
    -ms-grid-row: 4;
    -ms-grid-row-span: 10;
    -ms-grid-column: 24;
    -ms-grid-column-span: 14;
    grid-area: 4/24/14/38;
  }
}

@media only screen and (max-width: 850px) {
  .OurSolution .OS-header .OS-header-title {
    font-size: 1.8rem;
    -ms-grid-row: 4;
    -ms-grid-row-span: 15;
    -ms-grid-column: 5;
    -ms-grid-column-span: 14;
    grid-area: 4/5/19/19;
  }
  .OurSolution .OS-header .OS-header-text {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 750px) {
  .OurSolution .OS-header .OS-header-title {
    font-size: 1.5rem;
    -ms-grid-row: 4;
    -ms-grid-row-span: 15;
    -ms-grid-column: 5;
    -ms-grid-column-span: 14;
    grid-area: 4/5/19/19;
  }
  .OurSolution .OS-header .OS-header-text {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 450px) {
  .OurSolution .OS-header .OS-header-title {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 14;
    grid-area: 5/3/8/17;
    font-size: 1.2rem;
  }
  .OurSolution .OS-header .OS-header-text {
    -ms-grid-row: 5;
    -ms-grid-row-span: 12;
    -ms-grid-column: 23;
    -ms-grid-column-span: 15;
    grid-area: 5/23/17/38;
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=OurSolution.css.map */