.HomeText {
  -ms-grid-row: 8;
  -ms-grid-row-span: 9;
  -ms-grid-column: 5;
  -ms-grid-column-span: 15;
  grid-area: 8/5/17/20;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.HomeText .Home-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-animation: float 3s infinite;
          animation: float 3s infinite;
  width: 470px;
  height: 340px;
  min-width: 470px;
  min-height: 340px;
  z-index: 1;
}

.HomeText .Home-text .Home-text-title {
  font-size: 2.5rem;
  min-height: 100px;
}

.HomeText .Home-text .Home-text-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 170px;
  font-size: 100%;
  width: 90%;
  -ms-flex-direction: center;
      flex-direction: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
}

.HomeText .Home-text span {
  position: relative;
}

.HomeText .Home-text .text-effect {
  top: 0;
  left: 0;
  background-color: #ffde00;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  -webkit-animation: text-effect 1.5s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: text-effect 1.5s cubic-bezier(0.77, 0, 0.18, 1) forwards;
}

.HomeText .Home-text .text-effect:nth-child(1) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.HomeText .Home-text .second {
  -webkit-animation-delay: 1s !important;
          animation-delay: 1s !important;
}

.HomeText .Home-text .third {
  -webkit-animation-delay: 1.1s !important;
          animation-delay: 1.1s !important;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  50% {
    -webkit-transform: translateY(-42px);
            transform: translateY(-42px);
  }
  100% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  50% {
    -webkit-transform: translateY(-42px);
            transform: translateY(-42px);
  }
  100% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
}

@-webkit-keyframes text-effect {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes text-effect {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.HomeText .Home-text .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70px;
  opacity: 0;
  -webkit-transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

@media only screen and (max-width: 1200px) {
  .HomeText {
    -ms-grid-row: 9;
    -ms-grid-row-span: 8;
    -ms-grid-column: 5;
    -ms-grid-column-span: 15;
    grid-area: 9/5/17/20;
  }
}

@media only screen and (max-width: 600px) {
  .HomeText {
    -ms-grid-row: 6;
    -ms-grid-row-span: 11;
    -ms-grid-column: 3;
    -ms-grid-column-span: 17;
    grid-area: 6/3/17/20;
  }
  .HomeText .Home-text {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-animation: none;
            animation: none;
  }
}

@media only screen and (max-width: 450px) {
  .HomeText {
    -ms-grid-row: 5;
    -ms-grid-row-span: 12;
    -ms-grid-column: 2;
    -ms-grid-column-span: 18;
    grid-area: 5/2/17/20;
  }
  .HomeText .Home-text {
    -webkit-transform: scale(0.7) translate(-80px, -30px);
            transform: scale(0.7) translate(-80px, -30px);
    -webkit-animation: none;
            animation: none;
  }
  .HomeText .Home-text .Home-text-subtitle {
    max-width: 450px;
    min-height: 170px;
  }
}
/*# sourceMappingURL=HomeText.css.map */